#main {
  background: linear-gradient(35deg, hsl(240, 100%, 90%) , hsl(150, 100%, 85%) ) ;
  height: 100%;
}
#title {
 font-size: 2em;
}
.form {
 background-color: hsl(0, 0%, 95%);
}
#description{
 font-size: 1em;
}
textarea {
  width: 75%;
  height: 200px;
}
/* #name-label, #email-label, #number-label, #dropdown-label {
margin-bottom: 10px;
padding: 10px;

} */
